
@{
    ViewData["Title"] = "first";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="main">
    <div class="container">
        <a href="/Home/Index" class="btn btn-danger" type="button">Get info about workplace</a>
        <br /><br />
        <a href ="/Home/Commenti" class="btn btn-info">Get review about Workplace</a>
    </div>
</div>


